<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/mystyle.css">
    <title>Asiakkaan käsittely</title>

    <script src="/js/laite.js"></script>
    <script src="/js/kayttaja.js"></script>

</head>

<body>
    <button id="muutaTietoja">Muuta käyttäjätietoja</button>
    <!-- <button id="kirjauduUlos">Kirjaudu ulos</button> -->
    <a class="ui-button ui-widget ui-corner-all" href="/logout">Kirjaudu ulos</a>


    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>LaiteId</th>
                <th>Alkupvm</th>
                <th>Loppupvm</th>
                <th>Status</th>
                <th>KäyttäjäId</th>
                <th>#</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody id="varauksettaulu"></tbody>
    </table>


    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>LaiteId</th>
                <th>Alkupvm</th>
                <th>Loppupvm</th>
                <th>Status</th>
                <th>KäyttäjäId</th>
                <th>#</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody id="lainattaulu"></tbody>
    </table>

    <button id="laitteet">Laitteet</button>

    <div id="laitedialogi" title="Laitteet">
        <form id="hakulomake">
            <fieldset>
                <legend>Hakuehdot</legend>
                <input type="text" id="sarjanro_haku" name="sarjanro" placeholder="Sarjanro">
                <input type="text" id="kategoria_haku" name="kategoria" placeholder="Kategoria">
                <input type="text" id="nimi_haku" name="nimi" placeholder="Nimi">
                <input type="text" id="merkki_haku" name="merkki" placeholder="Merkki">
                <input type="text" id="malli_haku" name="malli" placeholder="Malli">
                <input type="text" id="omistaja_haku" name="omistaja" placeholder="Omistaja">
                <input type="text" id="sijainti_haku" name="sijainti" placeholder="Sijainti">

                <input type="submit" value="Hae">
            </fieldset>
        </form>
        <form id="laitelomake">
            <table>
                <thead>
                    <tr>
                        <th>Sarjanro</th>
                        <th>Kategoria</th>
                        <th>Nimi</th>
                        <th>Merkki</th>
                        <th>Malli</th>
                        <th>Omistaja</th>
                        <th>Kuvaus</th>
                        <th>Sijainti</th>
                        <th>#</th>
                        <th>#</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody id="laitetaulu"></tbody>
            </table>
        </form>
    </div>

    <div id="dialogi_varaushistoria" title="Varaushistoria">
        <div id="muutosError2"></div>
        <form id="uusivaraus">
            <p>Tee uusi varaus</p>

            <input type="hidden" id="laite_id" name="laite_id">
            <label for="alkupvm">Alkupvm:</label>
            <input type="date" id="alkupvm" name="alkupvm">
            <label for="kloaika1">Kellon aika:</label>
            <input type="time" id="kloaika1" name="kloaika1">
            <label for="loppupvm">Loppupvm:</label>
            <input type="date" id="loppupvm" name="loppupvm">
            <label for="kloaika2">Kellon aika:</label>
            <input type="time" id="kloaika2" name="kloaika2">
            <input type="hidden" id="status" name="status" value="Varattu">
            <input type="hidden" id="kayttaja_id" name="kayttaja_id">

            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </form>

        <form id="varaushistoria">
            <p>Varatut päivät</p>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Laite_id</th>
                        <th>Alkupvm</th>
                        <th>Loppupvm</th>
                        <th>Status</th>
                        <th>Käyttäjä_id</th>
                    </tr>
                </thead>
                <tbody id="varaushistoriataulu"></tbody>
            </table>
        </form>
    </div>

    <div id="dialogi_kayttajamuutos" title="Muuta käyttäjän tietoja">
        <div id="muutosError"></div>
        <form id="kayttajanmuutoslomake">
            <input type="hidden" id="usrID" name="id">
            <input type="text" id="usrTunnus" name="tunnus" placeholder="Tunnus" readonly>
            <input type="text" id="usrSalasana" name="salasana" placeholder="Salasana">
            <input type="text" id="usrSalasana2" name="salasana2" placeholder="Salasana2">
            <input type="text" id="usrNimi" name="nimi" placeholder="Nimi">

            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </form>
    </div>

    <div id="dialogi_lisays" title="Lisää laitteen tiedot">
        <form id="lisayslomake">
            <input type="text" id="kategoria_lisays" name="kategoria" placeholder="Kategoria">
            <input type="text" id="nimi_lisays" name="nimi" placeholder="Nimi">
            <input type="text" id="merkki_lisays" name="merkki" placeholder="Merkki">
            <input type="text" id="malli_lisays" name="malli" placeholder="Malli">
            <input type="text" id="omistaja_lisays" name="omistaja" placeholder="Omistaja">
            <input type="text" id="kuvaus_lisays" name="kuvaus" placeholder="Kuvaus">
            <input type="text" id="sijainti_lisays" name="sijainti" placeholder="Sijainti">
        </form>
    </div>

    <div id="dialogi_muutos" title="Muuta laitteen tietoja">
        <form id="muutoslomake">
            <input type="text" id="kategoria_muutos" name="kategoria" placeholder="Kategoria">
            <input type="text" id="nimi_muutos" name="nimi" placeholder="Nimi">
            <input type="text" id="merkki_muutos" name="merkki" placeholder="Merkki">
            <input type="text" id="malli_muutos" name="malli" placeholder="Malli">
            <input type="text" id="omistaja_muutos" name="omistaja" placeholder="Omistaja">
            <input type="text" id="kuvaus_muutos" name="kuvaus" placeholder="Kuvaus">
            <input type="text" id="sijainti_muutos" name="sijainti" placeholder="Sijainti">
        </form>
    </div>
</body>

</html>
