.ui-widget-overlay {
    opacity: 1;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 10px;
}

#lisays {
    margin: 1em;
}


#dialogi input[type="text"] {
    display: block;
}

.adminjutut {
    visibility: hidden;
}

.btn-info2 {
    background-color: #642EFE;
    color: white;
}

