.ui-widget-overlay {
    opacity: 1;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 10px;
}

#lisays {
    margin: 1em;
}

#dialogi, #laitedialogi, #dialogi_lisays, #dialogi_muutos {
    display: none;
}

    #dialogi input[type="text"] {
        display: block;
    }

.adminjutut {
    visibility: hidden;
}

.hidden {
    visibility: hidden;
}
